*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: bigDeal;
    src:url(BigDeal-lgVJd.otf);
}

@font-face {
    font-family: Heading-Pro-Wide-Thin-trial;
    src:url(Heading-Pro-Wide-Thin-trial.ttf);
}

@font-face {
    font-family: Boldstrom;
    src:url(Boldstrom.otf);
}

@font-face {
    font-family: Love;
    src:url(Love.ttf);
}

html{
    font-family: 'bigDeal', Tahoma, Geneva;
    color: white;
    text-align: center;
}

body{
    padding: min(50px, 7%);
    background-color: rgb(197, 207, 195);
}

/*HEADER=================================*/

header .imos{
    text-decoration: none;
    color: White;
    padding-top: 10px;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    position: static;
    top: 0;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-links ul li a:hover{
    color: rgb(70, 94, 103);
}

/*Section MAIN=================================*/

section #Main{

}

section h1{
    font-size: 250px;
}

section .gallery{
    position: relative;
    width: 100%;
    overflow: hidden;
}

section .gallery ul li{
    list-style: none;
}

section .gallery img{
    max-width: 80%;
    height: auto;
    /* text-align: justify;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0; */
}

section .gallery video{
    max-width: 80%;
    height: auto;
}

section .gallery ul li{

    text-align: justify;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}

#next, #prev{
    position: absolute;
    top: 40%;
    color: rgb(120, 113, 113);
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
}

#next{
    left: unset;
    right: 50px;
}




/*===================================*/
