*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: bigDeal;
    src:url(BigDeal-lgVJd.otf);
}

@font-face {
    font-family: Heading-Pro-Wide-Thin-trial;
    src:url(Heading-Pro-Wide-Thin-trial.ttf);
}

@font-face {
    font-family: Boldstrom;
    src:url(Boldstrom.otf);
}

@font-face {
    font-family: Love;
    src:url(Love.ttf);
}

html{
    font-family: 'bigDeal', Tahoma, Geneva;
    color: white;
    text-align: center;
}

body{
    /* padding: min(50px, 7%); */
    background-color: rgb(197, 207, 195);
    margin: 0;
}

/*HEADER=================================*/

header .imos{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-top: 40px;
}

.imos:hover{
    color: aliceblue;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    position: static;
    top: 0;
}

.nav-links{
    flex: 1;
    text-align: right;
    color: black;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

/* .nav-links ul li a:hover{
    color: rgb(72, 226, 0);
} */

.fa-instagram:hover{
    color: rgb(221, 18, 197);
}

.fa-youtube:hover{
    color: rgb(253, 53, 53);
}

.fa-facebook-f:hover{
    color: rgb(26, 106, 255);
}



.nav-links button{
    margin-top: 20px;
    background-color: #eeeeee;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}

.nav-links button a{
    text-decoration: none; 
}

/*Section MAIN=================================*/

/* section #Main{
    
}*/

section h1{
    font-size: 270px;
    margin-bottom: 100px;
}

/*.slider{
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    margin-bottom: 200px;
}
.item{
    position: absolute;
    width: 800px;
    height: 700px;
    text-align: justify;
    transition: 0.5s;
    top: 0;

}

#next, #prev{
    position: absolute;
    top: 45%;
    color: rgb(120, 113, 113);
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 40px;
}

#next{
    left: unset;
    right: 50px;
} */

#first .container{
    max-width: 1200px;
    width: 100%;
    margin-left: 14.2%;
}

#first .slider-wrapper{
    position: relative;
}

#first .slider-wrapper .slide-button{
    position: absolute;
    height: 50px;
    width: 50px;
    color: white;
    background: black;   
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2.2rem;
    top: 60%;
    transform: translateY(-200%);
}


#first .slider-wrapper .slide-button:hover{
    background: #444;
}

#first .slider-wrapper .slide-button#prev-slide{
    left: -20px;
    /* left: -100px; */
}

#first .slider-wrapper .slide-button#next-slide{
    right: -20px;
    /* left: -100px; */
}

#first .slider-wrapper .image-list{
    display: grid;
    gap: 700px; 
    font-size: 0;
    grid-template-columns: repeat(20, 1fr);
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 130px;
}

#first .slider-wrapper .image-list .image-item{
    width: 1200px;
    height: 800px;
    object-fit: cover;
}

#first .slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

#first .container .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

#first .slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background: white;
    position: relative;
    border-radius: 4px;
} 

#first .slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}

#first .slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: rgb(0, 0, 0);
    border-radius: inherit;
    cursor: grab;
}

#first .slider-scrollbar .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

#first .slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}






/*===================================*/


/*Section 2nd*/
#second{
   background-color: rgb(41, 41, 41); 
   padding-top: 100px;
   height: 800px;
}

#second h3{
    font-size: 50px;
    width: 100%;
    margin-bottom: 50px;
}

#second .grid-container{
    display: grid;
    padding: 2em;
    /* border: 1px solid red; */
    /*       
    grid-template-columns: repeat(4, 1fr);

    grid-template-columns: repeat(4, 300px);

    grid-template-columns: repeat(auto-fit, 300px);
    */      
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
}

#second .grid{
    width:100%;
    padding:10px;
    background-color: white;
    color: black;
}

#second .grid img{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#second .grid p{
    font-family: Arial, Helvetica, sans-serif;
}

#second .grid h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#second button{
    margin-top: 20px;
    background-color: #eeeeee;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}

#second button a{
    text-decoration: none; 
}



/*===================================*/


/*Section 3rd*/

#third{
    background-color: rgb(255, 255, 255); 
    padding-top: 50px;
    height: 1400px;
}
 
#third h3{
    font-size: 50px;
    width: 100%;
    margin-bottom: 50px;
    color: black;
}
 
#third .grid-container{
    display: grid;
    padding: 2em;
    /* border: 1px solid red; */
    /*       
    grid-template-columns: repeat(4, 1fr);

    grid-template-columns: repeat(4, 300px);

    grid-template-columns: repeat(auto-fit, 300px);
    */      
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    justify-content: center;
}
 
#third .grid{
    width:100%;
    padding:10px;
    color: black;
}

#third .grid img{
    width: 90%;
}

#third .grid p{
    font-family: Arial, Helvetica, sans-serif;
}

#third .grid h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#third button{
    margin-top: 20px;
    background-color: #eeeeee;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}

#third button a{
    text-decoration: none; 
}
 
/* #third .grid::after {
    content: "";
    clear: both;
    display: table;
} */

/*===================================*/

/*Section 4th*/

#fourth{
    background-color: rgb(45, 80, 184);; 
    padding-top: 50px;
    height: 680px;
    }
    
#fourth .grid-container{
    display: grid;
    padding: 2em;
    margin-bottom: 50px;
    /* border: 1px solid red; */
    /*       
    grid-template-columns: repeat(4, 1fr);

    grid-template-columns: repeat(4, 300px);

    grid-template-columns: repeat(auto-fit, 300px);
    */      
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    justify-content: center;
}
    
#fourth .grid{
    width:100%;
    padding:10px;
    color: rgb(45, 80, 184);
}

#fourth .grid img{
    width: 50%;
}

#fourth .paragraph{
    margin-top: 180px;
}

#fourth .paragraph h4{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

#fourth .paragraph p{
    font-family: Arial, Helvetica, sans-serif;
}

#fourth .paragraph button{
    margin-top: 20px;
}

#fourth button{
    margin-top: 20px;
    background-color: #eeeeee;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}

#fourth button a{
    text-decoration: none; 
}


/*===================================*/

/*Section 5th*/

#fifth{
    background-color: rgb(255, 255, 255); 
    padding-top: 50px;
    height: 1000px;
}
     
#fifth h3{
    font-size: 50px;
    width: 100%;
    margin-bottom: 50px;
    color: black;
}
    
#fifth .grid-container{
    display: grid;
    padding: 2em;
    /* border: 1px solid red; */
    /*       
    grid-template-columns: repeat(4, 1fr);

    grid-template-columns: repeat(4, 300px);

    grid-template-columns: repeat(auto-fit, 300px);
    */      
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    justify-content: center;
}
    
#fifth .grid{
    width:100%;
    padding:10px;
    color: black;
}

#fifth .grid img{
    width: 50%;
    margin-bottom: 20px;
}

#fifth .grid p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 70, 70);
    margin-top: 20px;
    margin-bottom: 10px;
}

#fifth .grid img .twoo{
    width: 90%;
}


/*===================================*/

/*Section 6th*/

#sixth{
    background-color: rgb(206, 191, 169); 
    padding-top: 50px;
    height: 900px;
}
     
#sixth h3{
    font-size: 50px;
    width: 100%;
    margin-bottom: 50px;
    color: black;
}
    
#sixth .grid-container{
    display: grid;
    padding: 2em;
    /* border: 1px solid red; */
    /*       
    grid-template-columns: repeat(4, 1fr);

    grid-template-columns: repeat(4, 300px);

    grid-template-columns: repeat(auto-fit, 300px);
    */      
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    justify-content: center;
}
    
#sixth .grid{
    width:100%;
    padding:10px;
    color: black;
}

#sixth .grid img{
    width: 100%;
    margin-bottom: 20px;
}

#sixth .grid h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 2px;
    font-size: 15px;

}

#sixth .grid p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 70, 70);
    margin-top: 2px;

}

#sixth .grid img #twoo{
    width: 90%;
}

/*===================================*/

/*Section seventh*/

#seventh{
    background-color: rgb(255, 255, 255); 
    padding-top: 50px;
    height: 900px;
}
     
#seventh h2{
    font-size: 50px;
    width: 100%;
    margin-bottom: 50px;
    color: black;
}
    
#seventh .grid-container{
    display: grid;
    padding: 2em;
    /* border: 1px solid red; */
    /*       
    grid-template-columns: repeat(4, 1fr);

    grid-template-columns: repeat(4, 300px);

    grid-template-columns: repeat(auto-fit, 300px);
    */      
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    justify-content: center;
}
    
#seventh .grid{
    width:100%;
    padding:10px;
    color: black;
}

#seventh .grid img{
    width: 100%;
    margin-bottom: 20px;
}

#seventh .grid h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 2px;
    font-size: 15px;

}

#seventh .grid p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 70, 70);
    margin-top: 2px;

}


/*===================================*/

/* Footer */

footer{
    height: 500px;
}

footer h3{
    font-size: 50px;
    padding-top: 150px;
    padding-bottom: 20px;
    margin-right: 1180px;
}

footer h6{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-right: 1180px;
}

footer p{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 1180px;
}

footer button{
    margin-right: 1180px;
    margin-top: 20px;
    background-color: #eeeeee;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}

footer button a{
    text-decoration: none; 
}















/*===================================*/

/* Media Queries */
@media(max-width: 768px){
    header nav,
    /* header nav li, */
    #first h1,
    #first .container,
    #first .container .slider-wrapper,
    #second h1,
    #third h1,
    #fourth h1,
    #sixth h1,
    #seventh h1,

    header .imos{
        position: relative;
    }

    section #first h1{
        font-size: clamp(30px, 1vw, 60px);
    }

    #first .slider-wrapper .slide-button{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        font-size: 2.2rem;
        top: 73%;
        transform: translateY(-200%);
    }

    #first .container{
        max-width: 400px;
    } 

    #first .slider-wrapper .slide-button#next-slide{
        right: -20px;
        /* left: -100px; */
    }

    #first .slider-wrapper .image-list .image-item{
        width: 420px;
        height: 380px;
        object-fit: cover;
    }

    /*Section 2nd*/
    #second{
        padding-top: 100px;
        height: 2000px;
    }

    /*Section 3rd*/
    #third{
        padding-top: 50px;
        height: 4000px;
    }
    /*Section 4th*/
    #fourth{
        height: 900px;
    }

    /*Section 5th*/
    #fifth{
        height: 1400px;
    }

    /*Section 6th*/
    #sixth{
        height: 3600px;
    }   
    
    /*Section 7th*/
    #seventh{
        height: 2700px;
    } 
    
    footer{
        height: 500px;
    } 

    /* #fourth img{
        padding-bottom: -60px;
    } */

    /* #fourth .grid-container .paragraph{
        padding-top: -60px;
    } */


  
  
    /* #first h1{
      margin-top:40px;
    }
   */

}
  